<ion-header translucent="true" class="ion-no-border">
  <!-- <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-card class="top-gap">
    <ion-img src="assets/images/character-logo.png"></ion-img>
    <ion-card-content>
      <div class="btn-wrap">
        <ion-button [routerLink]="['/loginform']" expand="full" fill="solid" shape="round" class="btn-started">Get Started</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
